.index_div {
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: linear-gradient(black 0%, rgb(49, 48, 48) 100%);
    color: rgb(245, 237, 237);
    height: 100vh;
    margin: auto;
}

form {
    background-color: transparent;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 20vh;
    width: 100%;
    max-width: 600px;
    text-align: center;
    
}
form svg{
    color: #950740;
}
label {
    display: block;
    font-size: 2.5rem;
    font-family: Candara;
    font-weight: 500;
    margin: 2rem;
    text-align: center;
}
input {
    background-color: #1c232c;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    color: #950740;
    font-family: Candara;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}
